.hero {
  min-height: calc(100vh - var(--header-height));
  padding: 6rem 8rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  background: linear-gradient(
    135deg,
    #FCFAE7 0%,
    #EEF6DF 100%
  );
}

/* TITULO A LA DERECHA */
.hero h1 {
  grid-column: 2;
  justify-self: end;

  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 700;
  line-height: 1.1;
  max-width: 700px;
  text-align: right;
  color: #4a4a4a;
}

/* BLOQUE DE TEXTO A LA IZQUIERDA */
.hero p {
  grid-column: 1;
  max-width: 1200px;
  text-align: left;
  padding-left: 3.5rem;
}

/* FRASE EN CURSIVA */
.hero p:first-of-type {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #545454;
}

/* TEXTO DESCRIPTIVO */
.hero p:nth-of-type(2) {
  font-size: 1.50rem;
  line-height: 1.6;
  color: #545454;
}

/* CIERRE */
.hero p:last-of-type {
  font-size: 1.50rem;
  font-weight: 500;
  color: #545454;
}
