/*===================
    VARIABLES
===================*/
@import url("footer.css");
:root {
  --primary-color: #fcfae7;
  --secondary-color: #b0d7c3;
  --text-color: #545454;
  --accent-color: #df6d69;

  --header-height: 120px;

  /* Modo oscuro (dk)*/
  --color-bg-dk: #222;
  --color-text-dk: #ffffff;

  /* Modo claro (lh)*/
  --color-bg-lh: #f5f5f5;
  --color-text-lh: #222;

  /* Variables actuales */
  --color-bg-current: var(--color-bg-dk);
  --color-text-current: var(--color-text-dk);
  --color-accent-current: var(--accent-color);
}
/* ===================
    RESET Y BASE
=================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Vend Sans", sans-serif;
  padding-top: var(--header-height);
  background: linear-gradient(135deg, #fcfae7 0%, #eef6df 100%);
}

a {
  color: var(--color-text-current);
}

/*===================
    HEADER
===================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--header-height);
  display: flex;
  padding: 2.5rem;
  background-color: var(--secondary-color);
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 70px;
  position: relative;

  padding-left: 260px;
  padding-right: 260px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.navbar a.active {
  color: var(--accent-color);
  font-weight: 600;
}

.nav-logo {
  position: absolute;
  left: 2.5rem;
  text-decoration: none;
}

.nav-logo img {
  width: 160px;
  height: auto;
}

.nav-cta {
  position: absolute;
  right: 2.5rem;
  background: var(--primary-color);
  color: var(--accent-color);
  padding: 0.7rem 1.6rem;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s background-color 0.25s ease, color 0.25s ease;
}

.nav-cta:hover {
  background: var(--accent-color);
  color: var(--primary-color);
}

.navbar a:not(.nav-cta):hover {
  color: var(--color-accent-current);
}
